.contenedor-file{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 1500px;
    height: 100%;
    border: 3px solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
}
.archivo{
    width: 1200px;
    height: 500px;
}
.contenedor-file h1{
    font-size: 70px;
    text-shadow: 0 0 3px rgb(255, 0, 255), 0 0 6px rgb(255, 0, 255);
    color: rgb(240, 240, 240);
}
.archivo div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 430px;
    background-color: rgb(240, 240, 240);
    border: 3px solid rgb(240, 240, 240);
    border-radius: 30px;
}
.archivo div:hover{
    background-color: rgb(250, 250, 250);
}
.archivo div img{
    width: 100px;
    height: 100px;
}