.divLetra{
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(0, 255, 255) 1px solid;
}
.liPalabra{
    display: block flex;
    gap: 5px;
    list-style: none;
}
.divSopa{
    display: grid;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
}
.divPantalla{
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}