.divGame{
    display: flex;
    width: 1100px;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.divMetadatos{
    display: flex; 
    width: 1026px;
    height: 70px;
    border: solid;
    align-items: center;
    justify-content: center;
    border: solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
    border-radius: 10px;
    background-color: #5C5C5C;
}
.Mdato{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 333px;
    height: 65px;
}
.tPalabras{
    color: #0D0D0D;
    text-shadow:
    0 0 2px rgba(255, 7, 58, 0.6),
    0 0 4px rgba(255, 7, 58, 0.4),
    0 0 8px rgba(255, 7, 58, 0.3);
}
.divPantallaP{
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.palabrasB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 550px;
    border: solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
    border-radius: 10px;
    gap: 15px;
    background-color: #5C5C5C;
}
.divParrafo{
    width: 700px;
    height: 550px;
    border: solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
    border-radius: 10px;
    background-color: #5C5C5C;
}
.palabraB{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: solid #39FF14;
    background-color: #C8FFC4;
    color: #0D0D0D;
}
.palabraB:hover{
    border: solid #39FF14;
    box-shadow:
    0 0 6px rgba(57, 255, 20, 0.7),
    0 0 12px rgba(57, 255, 20, 0.45),
    0 0 18px rgba(57, 255, 20, 0.3);
}